<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DCEStudyTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DCEStudyTools.Properties.Settings>
            <setting name="TYPE_NAME_TITLEBLOCK" serializeAs="String">
                <value>DCE A3 Standard</value>
            </setting>
            <setting name="LEGEND_NAME_STANDARD" serializeAs="String">
                <value>Légendes</value>
            </setting>
            <setting name="FOUNDATION_TITLE_PILE" serializeAs="String">
                <value>Charge Verticale par Pieux en Tonnes à ELS(G+Q) Test</value>
            </setting>
            <setting name="FOUNDATION_TITLE_FOOTING" serializeAs="String">
                <value>Fondation : Semelles isolées et Filantes</value>
            </setting>
            <setting name="FOUNDATION_TITLE_GROUND_SLAB" serializeAs="String">
                <value>Fondation : Radier</value>
            </setting>
            <setting name="TYPE_NAME_VIEWPORT_WITHOUT_TITLE" serializeAs="String">
                <value>Sans titre</value>
            </setting>
            <setting name="TEMPLATE_NAME_THREED_VIEW" serializeAs="String">
                <value>DCE Structure 3D</value>
            </setting>
            <setting name="TEMPLATE_NAME_STANDARD_FLOOR" serializeAs="String">
                <value>DCE Structure Etage Courant</value>
            </setting>
            <setting name="TEMPLATE_NAME_FOUNDATION" serializeAs="String">
                <value>DCE Structure Fondation</value>
            </setting>
            <setting name="PARA_NAME_BEAM_HEIGHT" serializeAs="String">
                <value>Hauteur</value>
            </setting>
            <setting name="PARA_NAME_BEAM_WIDTH" serializeAs="String">
                <value>Largeur</value>
            </setting>
            <setting name="PARA_NAME_BEAM_TYPE" serializeAs="String">
                <value>Poutre type</value>
            </setting>
            <setting name="KEY_WORD_FOUNDATION" serializeAs="String">
                <value>Fondation</value>
            </setting>
            <setting name="FAMILY_NAME_PILE" serializeAs="String">
                <value>FON-PIEUX</value>
            </setting>
            <setting name="TYPE_NAME_POINT_LOAD" serializeAs="String">
                <value>Charge-Point 2.5mm</value>
            </setting>
            <setting name="PARA_NAME_SHEET_TITLE" serializeAs="String">
                <value>Titre en haut</value>
            </setting>
            <setting name="PARA_NAME_SHEET_REI" serializeAs="String">
                <value>REI</value>
            </setting>
            <setting name="PARA_VALUE_SHEET_REI_NA" serializeAs="String">
                <value>Sans sujet</value>
            </setting>
            <setting name="FAMILY_NAME_BEAM" serializeAs="String">
                <value>POU-BA</value>
            </setting>
            <setting name="RVT_FAMILY_EXTENSION" serializeAs="String">
                <value>.rfa</value>
            </setting>
            <setting name="LEGEND_POSITION_X_MAX" serializeAs="String">
                <value>1.355</value>
            </setting>
            <setting name="LEGEND_POSITION_X_MIN" serializeAs="String">
                <value>0.033</value>
            </setting>
            <setting name="LEGEND_POSITION_Y_MIN_L" serializeAs="String">
                <value>0.009</value>
            </setting>
            <setting name="LEGEND_POSITION_Y_MIN_R" serializeAs="String">
                <value>0.056</value>
            </setting>
            <setting name="LEGEND_POSITION_Y_MAX_L" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="LEGEND_POSITION_Y_MAX_R" serializeAs="String">
                <value>0.858</value>
            </setting>
            <setting name="CATEGORY_NAME_BEAM" serializeAs="String">
                <value>Ossature</value>
            </setting>
            <setting name="KEY_WORD_BOTTOM_LEVEL" serializeAs="String">
                <value>Bas</value>
            </setting>
            <setting name="BEAM_TYPE_SIGN_BN" serializeAs="String">
                <value>BN</value>
            </setting>
            <setting name="BEAM_TYPE_SIGN_TAL" serializeAs="String">
                <value>Talon PV</value>
            </setting>
            <setting name="BEAM_TYPE_SIGN_POUR" serializeAs="String">
                <value>PR</value>
            </setting>
            <setting name="BEAM_TYPE_SIGN_LINT" serializeAs="String">
                <value>LT</value>
            </setting>
            <setting name="BEAM_TYPE_SIGN_POU" serializeAs="String">
                <value />
            </setting>
            <setting name="BEAM_TYPE_SYNT_BN" serializeAs="String">
                <value>BN</value>
            </setting>
            <setting name="BEAM_TYPE_SYNT_TAL" serializeAs="String">
                <value>TAL</value>
            </setting>
            <setting name="BEAM_TYPE_SYNT_POUR" serializeAs="String">
                <value>POUR</value>
            </setting>
            <setting name="BEAM_TYPE_SYNT_LINT" serializeAs="String">
                <value>LINT</value>
            </setting>
            <setting name="BEAM_TYPE_SYNT_POU" serializeAs="String">
                <value>POU</value>
            </setting>
            <setting name="BEAM_TYPE_SYNT_LON" serializeAs="String">
                <value>LON</value>
            </setting>
            <setting name="BEAM_TYPE_SIGN_LON" serializeAs="String">
                <value>L</value>
            </setting>
            <setting name="CHECK_BN_MAX_HEIGHT_METER" serializeAs="String">
                <value>0.25</value>
            </setting>
            <setting name="CHECK_PV_MAX_WIDTH_METER" serializeAs="String">
                <value>0.18</value>
            </setting>
            <setting name="CATEGORY_NAME_FLOOR" serializeAs="String">
                <value>Sols</value>
            </setting>
            <setting name="LEVEL_NAME_FOUDATION" serializeAs="String">
                <value>FONDATIONS</value>
            </setting>
            <setting name="LEVEL_NAME_BOTTOM_L1" serializeAs="String">
                <value>Bas RDC</value>
            </setting>
            <setting name="LEVEL_NAME_TOP_L1" serializeAs="String">
                <value>PH RDC</value>
            </setting>
            <setting name="TITLEBLOCK_WIDTH" serializeAs="String">
                <value>0.27</value>
            </setting>
            <setting name="TITLEBLOCK_LENGTH" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="PARA_NAME_BEAM_MATERIAL" serializeAs="String">
                <value>Matériau structurel</value>
            </setting>
        </DCEStudyTools.Properties.Settings>
    </userSettings>
</configuration>