<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DCEStudyTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DCEStudyTools.Properties.Settings>
            <setting name="TITLEBLOCK_NAME" serializeAs="String">
                <value>DCE A3 Standard</value>
            </setting>
            <setting name="STANDARD_LEGEND_NAME" serializeAs="String">
                <value>Légendes</value>
            </setting>
            <setting name="PILE_FOUNDATION_TITLE" serializeAs="String">
                <value>Charge Verticale par Pieux en Tonnes à ELS(G+Q) Test</value>
            </setting>
            <setting name="FOOTING_FOUNDATION_TITLE" serializeAs="String">
                <value>Fondation : Semelles isolées et Filantes</value>
            </setting>
            <setting name="GROUND_SLAB_FOUNDATION_TITLE" serializeAs="String">
                <value>Fondation : Radier</value>
            </setting>
            <setting name="VIEWPORT_WITHOUT_TITLE_TYPE_NAME" serializeAs="String">
                <value>Sans titre</value>
            </setting>
            <setting name="THREED_VIEW_TEMPLATE_NAME" serializeAs="String">
                <value>DCE Structure 3D</value>
            </setting>
            <setting name="STANDARD_FLOOR_TEMPLATE_NAME" serializeAs="String">
                <value>DCE Structure Etage Courant</value>
            </setting>
            <setting name="FOUNDATION_TEMPLATE_NAME" serializeAs="String">
                <value>DCE Structure Fondation</value>
            </setting>
            <setting name="BEAM_HEIGHT_PARAMETER" serializeAs="String">
                <value>Hauteur</value>
            </setting>
            <setting name="BEAM_WIDTH_PARAMETER" serializeAs="String">
                <value>Largeur</value>
            </setting>
            <setting name="BEAM_TYPE_PARAMETER" serializeAs="String">
                <value>Poutre type</value>
            </setting>
            <setting name="FOUNDATION_KEY_WORD" serializeAs="String">
                <value>Fondation</value>
            </setting>
            <setting name="PILE_TYPE_NAME" serializeAs="String">
                <value>FON-PIEUX</value>
            </setting>
            <setting name="POINT_LOAD_TYPE_NAME" serializeAs="String">
                <value>Charge-Point 2.5mm</value>
            </setting>
            <setting name="SHEET_TITLE_PARA_NAME" serializeAs="String">
                <value>Titre en haut</value>
            </setting>
            <setting name="SHEET_REI_PARA_NAME" serializeAs="String">
                <value>REI</value>
            </setting>
            <setting name="SHEET_REI_NA_VALUE" serializeAs="String">
                <value>Sans sujet</value>
            </setting>
            <setting name="BEAM_FAMILY_NAME" serializeAs="String">
                <value>POU-BA</value>
            </setting>
            <setting name="RVT_FAMILY_EXTENSION" serializeAs="String">
                <value>.rfa</value>
            </setting>
            <setting name="LEGEND_POSITION_X_MAX" serializeAs="String">
                <value>1.355</value>
            </setting>
            <setting name="LEGEND_POSITION_X_MIN" serializeAs="String">
                <value>0.033</value>
            </setting>
            <setting name="LEGEND_POSITION_Y_MIN_L" serializeAs="String">
                <value>0.009</value>
            </setting>
            <setting name="LEGEND_POSITION_Y_MIN_R" serializeAs="String">
                <value>0.056</value>
            </setting>
            <setting name="LEGEND_POSITION_Y_MAX_L" serializeAs="String">
                <value>0.9</value>
            </setting>
            <setting name="LEGEND_POSITION_Y_MAX_R" serializeAs="String">
                <value>0.858</value>
            </setting>
            <setting name="BEAM_CATEGORY_NAME" serializeAs="String">
                <value>Ossature</value>
            </setting>
        </DCEStudyTools.Properties.Settings>
    </userSettings>
</configuration>